*{
    margin: 0;
    padding: 0;
}
body{
    background:hsl(0, 0%, 36%);
}
main{
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 36%);
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);
        
}
.blood{
    width: auto;
    height: 300px;
    background-color: hsl(0, 0%, 36%);
    align-items: center;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);
        
}
.img{
    width: 270px;
    height: 250px;
    margin: 40px;
    
}
.name{
text-align: center; 
font-family: Arial, Helvetica, sans-serif;  
}

.desc{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: small;
color: white;
}
.but{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;   
}
.but2{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
    background-color: aqua;   

}
.add{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.add2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 10px;
}
header{
    width: 100%;
    height: 200px;
    background: hsla(0, 7%, 26%, 0);
}
#header-pc{
    display: none;
}
#tab{
    display: none;
}

/* AQUI É PARA TABLET */
@media (min-width: 768px) and (max-width: 1023px){
    main{
        background: #555554
        background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);
        
    
    }
    header{
        display: none;
        background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);
        
    }
   #tab{
    width: 100%;
    height: 250px;
    background: #555554;
    display: block;
   }
    .img3{
      
        margin-right: 20px; 
        width: 470px;
        height: 500px;
    }
    .container {
        display: flex;
        align-items: center; /* Alinha os itens verticalmente */
        background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);
    }
    .nameT{
        font-size: 70px;
    }
    .TF{
        color: hsl(0, 0%, 100%);
        text-shadow: white;

    }
    .ob1{
        font-size: 50px;
        
        margin: 55px;
        background-color: aqua; 
        border-radius: 10px;
        text-align: center;

    }
    .ob2{
        background-color: aqua; 
        border-radius: 10px;
    
        background-color: aqua;  

    }

}

/* AQUI É PARA PC */
@media (min-width: 1024px){
    main{
        background: #555554;
        background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);    }
    header{
        display: none;
    }
    #header-pc{
        width: 100%;
        height: 250px;
        background: #555554;
        display: block;
    }
    .img2 {
        flex: 100; 
        margin-right: 20px; 
        width: 670px;
        height: 700px;
    }
    .container {
        display: flex;
        align-items: center; 
        background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/1431918-abstrato-azul-fundo-com-curvas-onduladas-vetor.jpg);
    }
    .name2{
        line-height: -60;
        height: 100px;
        text-align: right;
        display: flex;
        align-items: center;
        margin: 10px;
        font-size: 80px;

    }
    .desc2{
        margin-bottom: 10px;
        height: -100px;
        display: flex
        ;
        font-size: 29px;
        color: white;
    }
    .comprar1{
        font-size: 90px;
        
       margin: 55px;
       background-color: aqua; 
       border-radius: 10px;
       align-items: center;
       text-align: center;
    }
    .comprar2{
        background-color: aqua; 
        border-radius: 10px;
        align-items: center;
        background-color: aqua;  
    
    }
    


}